* {   padding: 0;   margin: 0;}
 html{

} 
header{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr;
  background-color: #04AA6D; 
}
h1{
  grid-column: 2;
  grid-row: 1;
  font-family: fantasy;
}

.btn-group .button2 {
  grid-column: 1;
  grid-row: 1;
  background-color: #04AA6D; 
  border: 1px solid rgb(0, 55, 0);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.btn-group .button2:not(:last-child) {
  border-right: none; 
}

.btn-group .button2:hover {
  background-color: #f91100;
}

.container{
  display:grid;
  grid-template-columns:18% repeat(1,1fr);
  grid-template-rows: repeat();
}
.head{
  grid-column: 2;
  text-align: center;
}
.center{
  grid-column: 2;
  background-color: rgb(222, 222, 222);
  padding: 5%;
  margin: 5%;
  border-radius: 25px;
}

.left_bar{
  grid-column: 1; 
  grid-row: 1/4;
  background-color: rgb(175, 95, 95);
  padding: 5%;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #05830d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 80%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.foot{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  background-color: rgb(34, 0, 137);

}
#signature{
  grid-column: 2/3;
  color: aliceblue;
  font-size: xx-large;
}
