{% extends "projects/base.html" %}

{% block main %}
    <main>
        <div>
            <h1>Create a new project or edit</h1>
            <form method="post">
                {% csrf_token %} 
                {{ form.as_p }}
                <button>Submit</button>
            </form>
        </div>
    </main>
{% endblock main %}
