{% extends "projects/base.html" %}

{% block main %}
    <main>
        <div>
            <h1>My Tasks</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                    <th>Note</th>
                </tr>
                {% for item in tasks_objects %}

                    <tr>
                        <td> {{ item.name }} </td>
                        <td>{{ item.start_date|date }}</td>
                        <td>{{ item.due_date|date }}</td>
                        <td><a href="{% url "edit_task" item.id %}"> {{ item.is_completed|yesno }} </a> </td>
                        
                         {% if item.notes == null %}

                        <td><a href="{% url "create_note" item.id %}"> add</a> </td>                        

                        {% else %}
                        
                        <td>{{ item.notes}} </td>

                        {% endif %}
                    </tr>
                {% empty %}
                    <p>You have no tasks</p>
                {% endfor %}
            </table>
        </div>
    </main>
{% endblock main %}
