{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/baseCss.css" %}">
        <title>Tracker</title>
    </head>
    <body >
        <header >
            <h1>project Tracking</h1>
            <nav class="btn-group">

                    {% if user.is_authenticated %}

                            <a href="{% url "show_my_tasks" %}" class="button2">My tasks</a>

                            <a href="{% url "list_projects" %}" class="button2">My projects</a>

                            <a href="{% url "logout" %}" class="button2">Logout</a>

                    {% else %}

                            <a href="{% url "signup" %}" class="button2">Sign up</a>


                            <a href="{% url "login" %}" class="button2">Login</a>

                    {% endif %}

            </nav>

        </header>
        {% block main %}
        {% endblock main %}
        <footer>
            <nav class="foot">
                <p id="signature">made and designed by me Daniel Gay<p>
            </nav>        
                </footer>
    </body>
</html>
