{% extends "projects/base.html" %}

{% block main %}
    <main>

        <div class="container">
            <h2 class="head">{{ list_object.name }}</h2>
            <ul class="left_bar" class="btn-group">
                <li ><a href="{% url "create_project" %}" class="button" style="vertical-align:middle"><span>Create a new project</span></a></li>
                <li ><a href="{% url "create_task" %}" class="button" style="vertical-align:middle"><span>add a task</span></a></li>
            </ul>
            <table>
                <tr>
                    <th>name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
                {% for item in list_object.tasks.all %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.assignee }}</td>
                        <td>{{ item.start_date|date }}</td>
                        <td>{{ item.due_date|date }}</td>
                        <td>{{ item.is_completed|yesno }}</td>
                    </tr>
                {% empty %}
                    <p>This project has no tasks</p>
                {% endfor %}
            </table>
        </main>
    {% endblock main %}
