{% extends "projects/base.html" %}

{% block main %}
    <main>
        <div class="container">
            <h2 class="head">My Projects</h2>
            <ul class="left_bar" class="btn-group">
                <li ><a href="{% url "create_project" %}" class="button" style="vertical-align:middle"><span>Create a new project</span></a></li>
                <li ><a href="{% url "create_task" %}" class="button" style="vertical-align:middle"><span>add a task</span></a></li>
            </ul>
            {% if projects_objects|length == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table class="center">
                    <tr >
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                    {% for item in projects_objects %}
                        <tr>
                            <td>
                                <a href="{% url "show_project" item.id %}">{{ item.name }}</a>
                            </td>
                            <td>{{ item.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </main>
{% endblock main %}
